h1 {
            font-family: Papyrus, fantasy; font-weight: 700;
        } 
p {
            
            font-family: Papyrus, fantasy; font-weight: 400;
        }
body {
            background-color: rgb(255, 255, 255);
        }
