h1 {
            font-family: Papyrus, fantasy; font-weight: 700;
        } 
p {
            
            font-family: Papyrus, fantasy; font-weight: 400;
        }
body {
            background-color: rgb(77, 125, 75);
        }

table {
            margin-left: 10px;
        }
th {
            width: 200px; text-align: center;
        }
img {
           position: relative;
           z-index: 0; 
        }
.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        } 
            #left, #right {
                width: 20%;
                height: 100%;
                position: absolute;
                z-index: -20;
                background-color: rgb(60, 97, 58);
            }

            #left {
                left: 0;
            }

            #right {
                right: 0;
            }
